@using System.Security.Claims
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه جامع اطلس ایران</title>
    <link rel="dx-theme" data-theme="material.teal.light" href="~/lib/devextreme/css/dx.material.teal.light.css" data-active="false">
    <link rel="dx-theme" data-theme="material.teal.dark" href="~/lib/devextreme/css/dx.material.teal.dark.css" data-active="false">
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="atlas-toolbar dx-theme-accent-as-background-color"></div>
        <div class="sub-header dx-theme-border-color-as-background-color">
            <div class="sub-header-left">
                <img style="padding: 5px" src="~/images/logo.png" width="150" height="62"/>
            </div>
            <div class="sub-header-right dx-widget" style="padding-top: 20px">اطلس ایران</div>

        </div>
        <div class="atlas-tab-container">
            <div class="atlas-tab-content"></div>
        </div>
    </div>

    <div class="body">
        <div class="body-left">
            <div class="body-left-content">
            </div>
        </div>
        <div class="body-right dx-theme-background-color">
            <div class="body-right-content">
            </div>
        </div>
        @RenderBody()
    </div>
    <div class="footer dx-theme-accent-as-background-color">
        <div class="dx-widget dx-theme-text-color" style="padding: 5px">
            تمامی حقوق محفوظ است

        </div>
    </div>
    
</div>

<input id="FullName" type="hidden" value="@User.FindFirst(ClaimTypes.Name)?.Value"/>

<div class="atlas-signin-popup"></div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/world.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/africa.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/canada.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/iran.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/europe.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/usa.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/localization/dx.messages.fa.js"></script>
<script type="text/javascript" src="~/js/atlas.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/atlas.toolbar.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/atlas.signin.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/atlas.tabs.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/atlas.map.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/atlas.map.marker.js" asp-append-version="true"></script>
<script type="text/javascript">
    DevExpress.config({
        rtlEnabled:true,
        editorStylingMode:"outlined",
    })
    DevExpress.ui.themes.current(window.localStorage.getItem("dx-theme") || "material.teal.light");
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>