@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="dx-theme" data-theme="material.blue.light.compact" href="~/lib/devextreme/dist/css/dx.material.blue.light.compact.css" data-active="true">
    <link rel="dx-theme" data-theme="material.blue.dark.compact" href="~/lib/devextreme/dist/css/dx.material.blue.dark.compact.css" data-active="false">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Coming Soon</h1>
    <p>We are working on something awesome. Stay tuned!</p>
    @RenderBody()
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/devextreme/bundles/dx.all.js"></script>
</body>
</html>