@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="~/lib/devextreme/css/dx.material.purple.dark.compact.css">
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">
</head>
<body>

<div class="container dx-theme-background-color">
    <div class="header ">
        <div class="atlas-toolbar dx-theme-accent-as-background-color"></div>
        <div class="atlas-tab-container">
            <div class="atlas-tab-content"></div>
        </div>
    </div>
    <div class="body " >
        <div class="atlas-right-menu" style="height: 100%"></div>
        @RenderBody()
    </div>
    <div class="footer dx-theme-accent-as-background-color">
        <div class="dx-widget dx-theme-text-color" style="padding: 5px">
            تمامی حقوق محفوظ است

        </div>
    </div>
</div>

<div class="atlas-signin-popup"></div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>
<script type="text/javascript" src="~/js/atlas.signin.js"></script>
<script type="text/javascript">
    DevExpress.config({
        rtlEnabled:true,
        editorStylingMode:"outlined",
    })
    $(function (){
        
      let signInPopUp = $(".atlas-signin-popup").dxPopup({
        showCloseButton:true,
        width: '50%',
        height: '50%',
        title:'ورود'
      }).dxPopup('instance');
      
      $(".atlas-toolbar").dxToolbar({
        items:[{
          widget:'dxMenu',
          location:'before',
          options:
            {
            displayExpr: 'name',
            cssClass:'atlas-menu-content',
            dataSource:[
                      {
                         id: '1',
                         name: 'اطلس',
                       }, 
                       {
                         id: '1',
                         name: 'راهنما',
                       },
                       {
                         id: '1',
                         name: 'درباره ما',
                       },
                    ]
,
            width:"100%"
        }
        },
        {
          widget:'dxTextBox',
          location: "after",
          options: {
            width: '20vw',
            buttons:[
                {
                    name:'search',
                    options:{
                        icon:'find'
                    }
                }
            ]
          }
        },
        {
          widget: 'dxButton',
          location: 'after',
          options: {
              icon:'login',
              text:'ورود',
              onClick:()=>{
                signInPopUp.show();
              }
          }
        }]
      });
      $(".atlas-tab-content").dxTabs({
        items:[
            {
            template:'<div><i class="dx-icon dx-icon-product atlas-tab-content-icon"></i></div> <div style="margin-top:50px;font-size:25px">محصولات</div>',
        },{
            template:  '<div><i class="dx-icon dx-icon-group atlas-tab-content-icon"></i></div> <div style="margin-top:50px;font-size:25px">محققین</div>'
        },{
            template: '<div><i class="dx-icon dx-icon-home atlas-tab-content-icon"></i></div> <div style="margin-top:50px;font-size:25px">موسسات</div>'
        },{
            template: '<div><i class="dx-icon dx-icon-globe atlas-tab-content-icon"></i></div> <div style="margin-top:50px;font-size:25px">شرکت ها</div>'
        }]
      });
      
      $(".atlas-right-menu").dxMenu({
        height:'100%',
        displayExpr: 'name',
        orientation:"vertical"
      });
    });
</script>
</body>
</html>