@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="~/lib/devextreme/css/dx.material.teal.light.compact.css">
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="atlas-toolbar dx-theme-accent-as-background-color"></div>
        <div class="sub-header dx-theme-border-color-as-background-color">
            <div class="sub-header-left"></div>
            <div class="sub-header-right dx-widget">اطلس ایران</div>

        </div>
        <div class="atlas-tab-container">
            <div class="atlas-tab-content"></div>
        </div>
    </div>

    <div class="body">
        <div class="body-left">
            <div class="body-left-content">
            </div>
        </div>
        <div class="body-right dx-theme-background-color">
            <div class="body-right-content">
            </div>
        </div>
        @RenderBody()
    </div>
    <div class="footer dx-theme-accent-as-background-color">
        <div class="dx-widget dx-theme-text-color" style="padding: 5px">
            تمامی حقوق محفوظ است

        </div>
    </div>
</div>

<div class="atlas-signin-popup"></div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/world.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/africa.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/canada.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/iran.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/europe.js"></script>
    <script type="text/javascript" src="~/lib/devextreme/js/vectormap-data/usa.js"></script>
<script type="text/javascript" src="~/js/atlas.signin.js"></script>
<script type="text/javascript">
    DevExpress.config({
        rtlEnabled:true,
        editorStylingMode:"outlined",
    })
    $(function (){
        
      let signInPopUp = $(".atlas-signin-popup").dxPopup({
        showCloseButton:true,
        width: '50%',
        height: '50%',
        title:'ورود'
      }).dxPopup('instance');
      
      $(".atlas-toolbar").dxToolbar({
        items:[{
          widget:'dxMenu',
          location:'before',
          options:
            {
            displayExpr: 'name',
            cssClass:'atlas-menu-content',
            dataSource:[
                      {
                         name: 'اطلس',
                       }, 
                       {
                         name: 'راهنما',
                       },
                       {
                         name: 'درباره ما',
                       },
                    ]
,
            width:"100%"
        }
        },
        {
          widget: 'dxButton',
          location: 'before',
          options: {
              icon:'login',
              text:'ورود',
              onClick:()=>{
                signInPopUp.show();
              }
          }
        },
        {
          widget:'dxSwitch',
          location: "after",
          options: {
            value: false,
          }
        },
        ]
      });
      
      $(".body-right-content").dxForm({
        labelMode:"floating",
        items: [{
            label:{
                text:'استان'
            },
            editorType:'dxTagBox',
        },
        {
            label:{
                text:'هویت توسعه دهنده'
            },
            editorType:'dxTagBox',
        },
         {
            label:{
                text:'دسته کاربردی'
            },
            editorType:'dxTagBox',
        },
         {
            label:{
                text:'نوع خدمات'
            },
            editorType:'dxTagBox',
        },
        {
            label:{
                text:'وضعیت'    
            },
            editorType:'dxSwitch',
            editorOptions:{
                
            }
        }
        ],
      });
      
      $(".body-left-content").dxVectorMap(
          {
              zoomFactor:2.5,
              width:"100%",
              height:"100%",
              bounds: [43.13321914472885, 50.83717618250027, 61.96, 8.33],

            layers:[{
                name: 'areas',
                dataSource: DevExpress.viz.map.sources.eurasia
                
            }]
          }
      );
      
      $(".atlas-tab-content").dxTabs({
        items:[
            {
            template:'<div><i class="dx-icon dx-icon-product atlas-tab-content-icon">محصولات</i></div> ',
        },{
            template:  '<div><i class="dx-icon dx-icon-group atlas-tab-content-icon">محققین</i></div>'
        },{
            template: '<div><i class="dx-icon dx-icon-home atlas-tab-content-icon">موسسات</i></div>'
        },{
            template: '<div><i class="dx-icon dx-icon-globe atlas-tab-content-icon">شرکت ها</i></div>'
        }]
      });
      
    });
</script>
</body>
</html>