@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="~/lib/devextreme/css/dx.material.blue.dark.compact.css" >
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="atlas-toolbar"></div>
        <div class="atlas-menu-container dx-theme-accent-as-background-color">
            <div class="atlas-menu-item dx-widget">
                <i class="dx-icon dx-icon-product atlas-menu-item-icon dx-theme-background-color-as-text-color"></i>
                <div class="atlas-menu-item-content">محصولات</div>
            </div>
            <div class="atlas-menu-item dx-widget">
                <i class="dx-icon dx-icon-group atlas-menu-item-icon  dx-theme-background-color-as-text-color"></i>
                <div class="atlas-menu-item-content">
                    محققین
                </div>
            </div>
            <div class="atlas-menu-item dx-widget">
                <i class="dx-icon dx-icon-home atlas-menu-item-icon dx-theme-background-color-as-text-color"></i>
                <div class="atlas-menu-item-content">موسسات آموزشی</div>
            </div>
            <div class="atlas-menu-item dx-widget">
                <i class="dx-icon dx-icon-globe atlas-menu-item-icon dx-theme-background-color-as-text-color"></i>
                <div class="atlas-menu-item-content" >شرکت ها</div>
            </div>

        </div>
    </div>
    <div class="body">
        <h1 class="dx-widget" style="font-size: 40px">بزودی</h1>
        <p class="dx-widget">ما در حال کار روی یک چیز عالی هستیم. منتظر باشید!</p>
        @RenderBody()
    </div>
    <div class="footer dx-theme-background-color">
        <div class="dx-widget dx-theme-text-color" style="padding: 5px">
            تمامی حقوق محفوظ است

        </div>
    </div>
</div>

<div class="atlas-signin-popup"></div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>
<script type="text/javascript" src="~/js/atlas.signin.js"></script>
<script type="text/javascript">
    DevExpress.config({
        rtlEnabled:true,
        editorStylingMode:"outlined",
    })
    $(function (){
        
      let signInPopUp = $(".atlas-signin-popup").dxPopup({
        showCloseButton:true,
        width: '50%',
        height: '50%',
        title:'ورود'
      }).dxPopup('instance');
      
      $(".atlas-toolbar").dxToolbar({
        items:[{
          widget:'dxMenu',
          location:'before',
          options:
            {
            displayExpr: 'name',
            cssClass:'atlas-menu-content',
            dataSource:[
                      {
                         id: '1',
                         name: 'اطلس',
                       }, 
                       {
                         id: '1',
                         name: 'راهنما',
                       },
                       {
                         id: '1',
                         name: 'درباره ما',
                       },
                    ]
,
            width:"100%"
        }
        },
        {
          widget:'dxTextBox',
          location: "after",
          options: {
            width: '20vw',
            buttons:[
                {
                    name:'search',
                    options:{
                        icon:'find'
                    }
                }
            ]
          }
        },
        {
          widget: 'dxButton',
          location: 'after',
          options: {
              icon:'login',
              text:'ورود',
              onClick:()=>{
                signInPopUp.show();
              }
          }
        }]
      });
    });
</script>
</body>
</html>