
@{
    ViewBag.Title = "استان ها";
    Layout = "_Layout.Admin";
}


<div class="company-grid"></div>

@section Scripts{

    <script type="text/javascript">
    $(function () {
        $(".company-grid").dxDataGrid(
            {
                columnAutoWidth: true,
                height: "100%",
                editing: {
                    mode: 'popup',
                    allowAdding:true,
                    allowUpdating:true,
                    allowDeleting:true,
                    form:{
                        colCount: 1,
                        items:[
                            {
                                itemType:'group',
                                colCount:2,
                                items:['title','domainId']
                            },
                            {
                                itemType:'group',
                                colCount: 6,
                                items:[{
                                    dataField: 'provinceId',
                                    colSpan:3,
                                    
                                },{
                                    dataField: 'address',
                                    colSpan: 3,
                                }]
                            },
                            {
                                itemType:'group',
                                colCount:6,
                                items:[{
                                    dataField: 'isKnowledgeBased',
                                    editorType:'dxSwitch',
                                },{
                                    dataField: 'hasSamta',
                                    editorType:'dxSwitch',
                                },{
                                    dataField: 'isEnabled',
                                    editorType:'dxSwitch',
                                }]
                            }
                        ]   
                    }
                },
                searchPanel:{visible:true},
                onRowUpdating: function (e) {
                    e.newData = Object.assign({}, e.oldData, e.newData);
                },
                dataSource: new DevExpress.data.CustomStore({
                    key: "id",
                    load: function (options) {
                        return devextremeLoadCall("/Companies/List/",options,false);
                    },
                    insert: function (values) {
                        return devextremeAddCall("/Companies/Add/",values)
                    },
                    update: function (key, values) {
                        return devextremeUpdateCall(`/Companies/Edit/${key}`,values)
                    },
                    remove: function (key) {
                        return devextremeRemoveCall(`/Companies/Delete/${key}`);
                    }
                }),
                columns:[{
                    dataField:'title',
                    caption:'عنوان',
                    validationRules: [{type: 'required'}],
                },
                {
                    dataField:'domainId',
                    caption:'حوزه همکاری',     
                    calculateDisplayValue:'domain.title',
                    formItem: {
                        editorType: "dxSelectBox",
                        editorOptions: {
                            valueExpr: "id",
                            displayExpr: "title",
                            showClearButton: true,
                            dataSource: new DevExpress.data.CustomStore({
                                load: function (options) {
                                    return devextremeLoadCall("/Domains/List/", options,false);
                                },
                                byKey: function (key) {
                                    return devextremeByKeyCall(`/Domains/Get/${key}`);
                                },
                            }),
                        }
                    }, 
                },
                {
                    dataField:'provinceId',
                    caption:'استان',
                    calculateDisplayValue:'province.persianTitle',
                    formItem: {
                        editorType: "dxSelectBox",
                        editorOptions: {
                            valueExpr: "id",
                            displayExpr: "persianTitle",
                            showClearButton: true,
                            dataSource: new DevExpress.data.CustomStore({
                                load: function (options) {
                                    return devextremeLoadCall("/Provinces/List/", options,false);
                                },
                                byKey: function (key) {
                                    return devextremeByKeyCall(`/Provinces/Get/${key}`);
                                },
                            }),
                        }
                    },     
                },
                {
                    dataField:'hasSamta',
                    caption:'سمتا',     
                    dataType:'boolean',     
                },
                {
                    dataField:'isKnowledgeBased',
                    caption:'دانش بنیان',     
                    dataType:'boolean',               
                },
                {
                    dataField:'isEnabled',
                    caption:'فعال',     
                    dataType:'boolean',               
                },
                {
                    dataField:'persianModifiedDate',
                    caption:'زمان آخرین تغییر',                    
                    formItem:{
                        visible:false,
                    }
                },
                {
                  dataField:'resume',
                  caption:'رزومه',     
                  cellTemplate:(e,cellInfo)=>{
                      return $("<div/>").dxFileUploader({
                           name:'resume',
                           uploadMode:'instantly',
                           multiple:false,
                           maxFileSize:"512",
                           width:400,
                           onUploaded:function (e){
                             DevExpress.ui.notify({message: "فایل با موفقیت بارگزاری شد."}, "success", 3000);
                             e.component.option("readOnly",false);
                           },
                           uploadUrl:`/Companies/Resume/${cellInfo.data.id}`
                      });
                  }  
                },
                {
                    dataField:'address',
                    caption:'آدرس',
                    visible:false,     
                },
                {
                    
                    dataField: 'buttons',
                    type: 'buttons',
                    caption:'',
                    buttons:[
                        {
                            template: function (c, e) {
                                return $('<div/>').dxDropDownButton({
                                    text: 'رزومه',
                                    type: 'default',
                                    stylingMode:'text',
                                    items: [
                                        {
                                            text: 'حذف',
                                            onClick: function () {
                                            }
                                        },
                                        {
                                            text: 'دریافت',
                                            onClick: function () {
                                                if (e.row.data.resume === "" || e.row.data.resume === null )
                                                    e.component.option("disabled",true)
                                                else
                                                    window.open(e.row.data.resume, "_blank");
                                            }
                                        },
                                    ]
    
                                })
                            }

                        },"edit","delete"] 
                }]
                
            });
    });
    </script>

}