body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.atlas-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px;
    margin: 0;
}

.atlas-menu {
    height: 50%;
    color: white;
    align-content: center;
}


.footer {
    color:white;
}

.dx-button-has-icon{
    
}

.atlas-toolbar .dx-icon {
    font-size: 20px;
}